<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secrets Shhh.....</title>
    </head>
    <body>
        <h1>Welcome {{request.session.first_name}} </h1>
        <h2>Post a Secret</h2>
        <a href="{% url 'secrets:top10' %}">View top posts</a>
        <form class="" action="secrets/post" method="post">
            {% csrf_token %}
            <textarea name="content" rows="8" cols="80"></textarea><br>
            <input type="submit" name="submit" value="Post Secret"><br>
             <button type="button" name="log_out"><a style='text-decoration:none;' href="{%url 'login:index'%}">Logout</a></button>
        </form>

        {% if messages %}
            {% for i in messages %}
                <p style="color: red;">{{ i }}</p>
            {% endfor %}
        {% endif %}
        <h2>Secrets</h2>
        {%if secrets%}
            {% for secret in secrets%}
                <p>{{secret.content}} posted at {{secret.created_at}} Number of LIKES:{{secret.all_likes.count}} </p>

                {% if secret in liked_secrets %}
                    <p>You liked this!</p>
                {%else%}
                <a href="{% url 'secrets:add_like' id=secret.id%}">Like</a>
                {% endif %}

                {% if secret.user.id == request.session.id %}
                    <p style='color:green;'> --You posted this secret.</p>
                    <a href="{% url 'secrets:delete' id=secret.id%}">Delete</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </body>
</html>
