<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Most Popular</title>
  </head>
  <body>
      <h1>Top 10 Secrets:</h1>
      {%if secrets%}
          {% for secret in secrets%}
              <p>{{secret.content}} posted at {{secret.created_at}} Number of LIKES:{{secret.all_likes.count}} </p>

              {% if secret in liked_secrets %}
                  <p>You liked this!</p>
              {%else%}
              <a href="{% url 'secrets:add_like' id=secret.id%}">Like</a>
              {% endif %}

              {% if secret.user.id == request.session.id %}
                  <p style='color:green;'> --You posted this secret.</p>
                  <a href="{% url 'secrets:delete' id=secret.id%}">Delete</a>
              {% endif %}
          {% endfor %}
      {% endif %}
      <h3><a href="{% url 'secrets:index' %}">Return To Main Page</a></h3>
  </body>
</html>
