<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/name' method='post'>
        Your Name: <input type='text' name='name'><br>
        Your Location: <select name='location'>
                <option value="seattle">Seattle</option>
                <option value="dallas">Dallas</option>
                <option value="chicago">Chicago</option>
            </select><br>
        Favorite Language: <select name='language'>
                <option value="Python">Python</option>
                <option value="Mean">Mean</option>
                <option value="Ruby">Ruby</option>
            </select><br>
        Comments: <input type="text" size="150" name='comment'><br>
        <input type='submit' value='create user'>
    </form>

  </body>
</html>
