<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <p> <a href="/">Home</a></p>
      <p> <a href="about">About</a></p>
      <p> <a href="projects">Projects</a></p>
      <h1>About Us</h1>
      <p>I love chocolate bar chupa chups. Icing chocolate lemon drops. Jelly-o dessert cotton candy.</p>

      <p>Muffin carrot cake cookie soufflé. Toffee bonbon cookie fruitcake I love. Donut danish sesame snaps candy canes I love toffee soufflé carrot cake.
      Lemon drops chocolate cake jelly-o ice cream. Cake sweet jelly beans croissant caramels wafer tootsie roll I love cupcake. Apple pie powder cupcake icing.
      I love marshmallow jelly icing chocolate bar powder halvah cake pastry. Liquorice tootsie roll powder I love powder chupa chups bonbon apple pie cake. Halvah fruitcake macaroon liquorice cake macaroon icing cupcake. I love biscuit carrot cake I love cotton candy cupcake pudding.
      Candy canes biscuit pudding. I love marzipan jujubes I love danish cheesecake. Lemon drops gingerbread bear claw fruitcake. </p>

  </body>
</html>
