<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
     <p> <a href="/">Home</a></p>
     <p> <a href="about">About</a></p>
     <p> <a href="projects">Projects</a></p>
    <h1>Home</h1>
    <p>Cupcake ipsum dolor sit amet wafer. Biscuit I love sugar plum donut bear claw. Marshmallow cupcake macaroon oat cake chocolate sugar plum gummi bears gummies macaroon.</p>

    <p> Caramels candy canes cupcake. Macaroon jelly-o toffee. Lemon drops toffee I love wafer fruitcake. Bear claw chocolate cake icing biscuit muffin sweet roll icing.</p>

    <p>Cheesecake jelly beans cake I love dragée fruitcake powder bear claw cupcake. Macaroon I love topping. Powder jelly beans pastry toffee jujubes toffee. Marzipan pie ice cream pie.</p>

    <p>Dessert chocolate donut. I love halvah gingerbread I love pudding cupcake tiramisu ice cream. Pastry sweet roll gummi bears jelly sugar plum sweet tootsie roll bear claw. Pie I love tart sweet roll candy canes.</p>

    <p>I love biscuit pastry cake jelly-o. Danish sweet gummies gummies powder chupa chups. I love macaroon pudding brownie pie marzipan biscuit marshmallow. </p>

  </body>
</html>
