<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <p> <a href="/">Home</a></p>
      <p> <a href="about">About</a></p>
      <p> <a href="projects">Projects</a></p>
      <h1>Projects</h1>
      <ul>
          <li>Danish cupcake tootsie roll muffin chocolate cake marshmallow cheesecake croissant.</li>
          <li>Powder dragée apple pie cake topping toffee. Sugar plum biscuit lollipop dessert. </li>
          <li>Marshmallow marshmallow pastry apple pie topping icing chocolate tiramisu.</li>
          <li>Jelly pastry oat cake dragée jelly.</li>
      </ul>

  </body>
</html>
