<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Enter your details:</h1>
    <form action='/name' method='post'>
        Your Name: <input type='text' name='name'><br>
        {% with messages = get_flashed_messages() %}    <!--The with messages here helps us declare a variable in our template that we can use within a specific scope -->
            {% if messages %}                            <!--Check if there are even any messages that came back from the get_flashed_messages() function -->
            {% for message in messages %}           <!--Loop through all messages -->
                <p>{{ message }}</p>                  <!--Print the messages one by one each in a paragraph tag -->
            {% endfor %}
            {% endif %}
        {% endwith %}
        Your Location: <select name='location'>
                <option value="seattle">Seattle</option>
                <option value="dallas">Dallas</option>
                <option value="chicago">Chicago</option>
            </select><br>
        Favorite Language: <select name='language'>
                <option value="Python">Python</option>
                <option value="Mean">Mean</option>
                <option value="Ruby">Ruby</option>
            </select><br>
        Comments: <input type="text" size="150" name='comment'><br>
        <input type='submit' value='create user'>
    </form>

  </body>
</html>
