<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
      <div class="wrapper">
          <h1>Hi, I'm Jessica</h1>
          <h3>Welcome to My Portflio</h3>
          <ul>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
          </ul>
          <p>Nose shows some clove and banana bread, with a soft wheat-husk background, nutty yeast, hints of citrus and a brush of floral.</p>
          <p>In the mouth, the beer is smooth on the palate, light and uplifting. </p>
          <p>The palate is piqued by crisp carbonation and a watery, lemony edge that segues into a slightly grassy wheat twang, with very soft phenolic image clover-like and thin banana flavors.</p>
      </div>


  </body>
</html>
